
 .container{
  height: 100vh;
  position: relative;
 }

 .box {
  background-color: purple;
  height: 200px;
  width: 200px;
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
}

 /* //center div using grid */
 /* .container{
  display: grid;
  height: 100vh;
  place-items: center;
 } */


/* //center div using flexbox */
 /* .container {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
} */

