
body{
    border: red 20px solid;
    height: 100vh;
    width: 100%;    
    margin: 0;
  
    /* display: flex ;
    justify-content: center;
    align-items: center; */
}

.lead{
  border: black 5px solid;   
  margin: 200px;
  position: relative; 
  
}

.agent{
  height: 200px;
  width: 200px;
  background-color: maroon;
  display: inline-block;
position: absolute;
left: 200px;
}

.hacker{
  height: 200px;
  width: 200px;
  background-color: olive;
  display: inline-block;

}
/* 
.debugger{
  height: 200px;
  width: 200px;
  background-color: teal;
  display: inline-block;

}

.designer{
  height: 200px;
  width: 200px;
  background-color: navy;
  display: inline-block;

}

.box{
  height: 200px;
  width: 200px;
  background-color: purple;
  position: absolute;


} */