/* //if sticky is having parent it will not work, we should add sticky to parent */
header{
    position: sticky;
    top: 0;
    z-index: 1000;
}

nav{
 background-color: purple;
 margin: 0px;
 padding: 10px;
 top: 0;
}

.navbar{
  display: flex;
}

.nav-links{
    display: flex;
    list-style: none;
    margin-left: auto;
}

