
body{
    padding: 2%;
}
.container{
    display: flex;

}
.col{
    height: 100vh;
    width: 30.33%;
    background-color: lightgray;
    margin: 1%;
    text-align: center;
    font-size: 30px;
}

@media(max-width: 768px){
    .container{
        display: flex;
        flex-direction: column  ;
        
          
    }
    .col{
        width: 100%;
        height: 20%;
        background-color: lightblue;
    }
}