
.box1{ 
    background-color: black;
    height: 200px;
    width: 200px;
    border-radius: 10px;
    margin: 20px;
}
 
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    /* grid-template-columns: repeat(autofit, minmax(100px , 1fr)); */
    grid-template-rows: 100px 100px 100px ;
    grid-gap: 10px;
    justify-content: center;
    align-items: center ;


    
    /* grid-template-rows: 1fr 1fr 1fr ; */
    /* grid-template-rows: (3fr, auto); *//    
}


